<h1 class='heading-explore'>Student Accommodations in Zaria</h1>

<%= render partial: 'area'%>

<section class="section-explore d-flex flex-wrap justify-content-center" id="properties">
  <% @properties.each do |property| %>
    <%= render property %>
  <% end %>
</section>

<%= link_to "New property", new_property_path %>

<style>

  h1{
    margin:0;
  }
  .section-explore {
    gap:.5rem;
  }

  .heading-explore {
    text-align: center;
    font-size: 1.5rem;
    padding:1rem;
  }

</style>