<footer>

  <section class="main-con">
    <div class='div'>
      <h3 class='h3'>SUPPORT</h3>
      <div class='div nav-div'>
        <a class='a-link' href="/about-us">About us</a>
        <a class='a-link' href="/how-to-use">How it works</a>

      </div>
    </div>

    <div class='div'>
      <h3 class='h3'>CONTACT</h3>
      <div class="social-links">
        <a class='a-link social-icons' href="https://twitter.com/Landlrdng"><i class="fa-brands fa-twitter"></i></a>
        <%
=begin%>
        <a class='a-link social-icons' href="/"><i class="fa-brands fa-linkedin"></i></a>
        <a class='a-link ' href="/"><i class="fa-brands fa-instagram"></i></a> 
<%
=end%>
      </div>
      <p class='p'>WhatsApp: +2348094905578</p>
      <a class='a-link' href="mailto:support@landlrd.online">support@landlrd.online</a>
    </div>

    <div class='div'>
      <h3 class='h3'>CAREERS</h3>
      <p class='p'>We’re hiring for several roles and always 
      looking for curious, courageous, and collaborative 
      creative talent. If you believe you can make us better,
       please reach out to 
       <a class='a-link' href="mailto:jobs@landlrd.online">jobs@landlrd.online</a></p>
    </div>
  </section>

  <section class="side-con">
    <p class='p'>© Copyright 2023 Copyright of the Monsieur</p>
    <p class='p'>Independent since 2023</p>
    <div class="terms">
      <a class='a-link' href="/privacy">Privacy</a>
      •
      <a class='a-link' href="/terms">Terms</a>
    </div>
  </section>

</footer>

<style>

  footer {
    margin-top: 5rem;
    background-color: rgb(33,33,33);
    background-color: rgb(1,42,23);
    padding: 1.5rem 2rem;
  }

  .main-con {
    display: flex;
    flex-direction: column;
  }

  .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    gap:1rem;
  }

  .nav-div {
    gap:1rem;
  }

  .h3 {
    color: white;
    font-size: 1.2rem;
    letter-spacing: .15rem;
  }

  .social-icons {
    margin-right:.5rem;
  }

  .a-link {
    color: rgba(200, 200, 200);
    text-decoration: none;
    font-family: inter;
    font-size: 1rem;
    line-height: .8;
    transition: all 0.3s ease;
  }

  .a-link:hover {
    color:rgba(255, 255, 255, 0.4) ;
  }

  .p {
    font-family: inter;
    font-size: 1rem;
    line-height: 1.8;
    color:rgba(255, 255, 255, 0.4) ;
  }

.terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: .5rem;
  color:white;
}

@media (min-width:990px){
  footer {
    display: flex;
    flex-direction: column;
  }

  .main-con {
    flex-direction: row;
    margin-bottom: 10rem;
  }

  .main-con > div {
    flex: 1;
  }

  .p {
    max-width: auto;
    margin: 0;
  }

  .side-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }

}

</style>
</footer>