<footer>
  <footer>
  
  <section class="main-con">
    <div class='div'>
      <h3 class='h3'>SUPPORT</h3>
      <div class='div'>
        <a class='a-link' href="/projects">About</a>
        <a class='a-link' href="/services">How it works</a>

      </div>
    </div>

    <div class='div'>
      <h3 class='h3'>SOCIALS</h3>
      <div class="social-links">
        <a class='a-link' href="/">Instagram</a>
        <a class='a-link' href="/">Twitter</a>
        <a class='a-link' href="/">LinkedIn</a>
      </div>
    </div>

    <div class='div'>
      <h3 class='h3'>CAREERS</h3>
      <p class='p'>We’re hiring for several roles and always looking for curious, courageous, and collaborative creative talent. If you believe you can make us better, please reach out to <a class='a-link' href="mailto:jobs@landlrd.online">jobs@landlrd.online</a></p>
    </div>
  </section>

  <section class="side-con">
    <p class='p'>© Copyright 2023 Made by MonsieurDesigns</p>
    <p class='p'>Independent since 2023</p>
    <div class="terms">
      <a class='a-link' href="/privacy">Privacy</a>
      •
      <a class='a-link' href="/terms">Terms</a>
    </div>
  </section>

</footer>

<style>

  footer {
    background-color: rgb(33,33,33);
    padding: 1rem 1.5rem;
  }

  .main-con {
    display: flex;
    flex-direction: column;
  }

  .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .h3 {
    color: white;
    font-size: 1.2rem;
    letter-spacing: .15rem;
  }

  .a-link {
    color: rgba(200, 200, 200);
    text-decoration: none;
    margin-bottom: 1rem;
    font-family: inter;
    font-size: 1rem;
    line-height: .8;
    transition: all 0.3s ease;
  }

  .a-link:hover {
    color:rgba(255, 255, 255, 0.4) ;
  }

  .p {
    font-family: inter;
    font-size: 1rem;
    line-height: 1.8;
    color:rgba(255, 255, 255, 0.4) ;
  }

.terms {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: .5rem;
}

@media (min-width:990px){
  footer {
    display: flex;
    flex-direction: column;
  }

  .main-con {
    flex-direction: row;
    margin-bottom: 10rem;
    
  }
  .main-con > div {
    flex: 1;
  }

  .p {
    max-width: auto;
    margin: 0;
  }

  .side-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
  }

}

</style>
</footer>