<section class='section-about'>
<div class='mission-statement'>
  <h1 class='center'>Our Mission: Transforming Choices</h1>


  <p>Imagine a world where students can embark on their housing 
  journey with confidence, knowing that the properties they 
  explore are exactly what they seem. A world where the uncertainty
  of deceitful property agents is replaced by a trusted platform 
  that puts their interests first.</p>

  <p class='highlight'>- We're here to transform this vision into reality. -</p>

  <p>At Landlrd, we're driven by a passion for honesty, transparency, and making a meaningful impact in the world of property rentals. Our journey began with a simple realization: the student accommodation market should be built on trust and fairness.</p>


  <p>Our team is dedicated to building a platform that ensures students and renters are no longer deceived by false promises and misleading descriptions. We understand the frustration and disappointment that comes from discovering that a property isn't what it was claimed to be.</p>

  <p>But it's not just about exposing the wrongs; it's about creating an environment where everyone wins. Our platform is designed to empower students to find properties that match their preferences. We believe that finding the perfect place to live should be a joyous experience, not a source of stress.</p>

  <p>Join us on this journey towards a brighter housing future. Together, we're reshaping an industry that's been long overdue for change. We invite you to explore the Landlrd platform, share in our vision, and be part of a community that values integrity and transparency in every step of the property journey.</p>

  <p>Welcome to Landlrd, where the search for your student accommodation starts with trust.</p>
</div>  
<a href="/" class='btn btn-outline-secondary'>Back to Home</a>
</section>

<style>

  .mission-statement {
    text-align: justify
  }

    .section-about {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .center {
    margin:1rem;
    text-align: center;
  }

  .highlight {
    text-align: center;
    color: green;
  }

  .green-link {
    color:green;
  }

</style>