<section class='section-how'>
  <div>
    <h1 class='h1-how'>How It Works</h1>
    <p>Welcome to our How It Works page. Here, we'll explain the process of using our services.</p>
    <h2>Step 1: Browse Properties</h2>
    <p>Explore our wide range of Student accommodations available for rent.</p>
    <h2>Step 2: Filter Accommodations</h2>
    <p>Use our filters and in-depth description to narrow down accommodation based on your preferences to find a property that you like.</p>
    <h2>Step 3: Select Room</h2>
    <p>Once you have found an accommodation that suits your taste, you can select a room from among the room types to begin the booking process.</p> 
    <h2>Step 4: Finalize</h2>
    <p>Once you're here, finalize the payment to book your space.</p>
    <h2>Optional: Contact Us</h2>
    <p>Contact us to schedule a viewing or get more information about the property.</p>
    <p>Have questions? Reach out to us on WhatsApp: <a class='green-link' href="tel:+2348094905578">080-949-055-78</a> or at <a class='green-link' href="mailto:support@landlrd.online">support@landlrd.online</a>.</p>
  </div>
  
  <a href="/" class='btn btn-outline-secondary'>Back to Home</a>

</section>

<style>
  .section-how {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1-how {
    margin-top: 1rem;
    text-align: center;
  }

  .green-link {
    color:green;
  }

</style>